#root{
  height:100%
}
.body{
  background-color: #a77f78;
}
.name{
  font-size: 5em;
  padding-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: linear-gradient(90deg, #7978A7, #7a7978, #90FFDC, #90FFDC);
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
    transition: background-position 1s;
    background-size: 200% 100%;
    background-position: 100% 0;
}
.name:hover{
  background-position: 0 0; 
}
.namebox{
  height: 400px;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}